*

# dont ignore the plugin
!plugins/basic_games/games/game_warhammer40kdarktide.py

# dont ignore custom scripts
!scripts/
!scripts/**
scripts/output

# dont ignore vscode
!.vscode
!.vscode/*

# re-ignore some stuff
.venv/
__pycache__/